@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
@import url('/fonts/didonesque.ttf');

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    background: rgb(249 250 251);
    transition: width .3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s ease-in-out;
}